:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  text-align: left;
  box-sizing: border-box;
}

header {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.header-button {
  padding: 20px 40px;
  border: none;
  background: lightcoral;
  color: white;
  border-radius: 999999999px;

  &:disabled {
    background: grey;
  }
}

.container {
  width: 100%;
  min-height: 800px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightyellow;
}

.content {
  margin: 50px;

  & .info {
    text-align: left;
  }
}

ul li {
  list-style-type: none;
}

.search {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  & .close-button {
    color: lightcoral;
  }
}

.evolution {
  margin: 50px;

  .row {
    display: flex;
  }
}

.loading-container {
  background-color: lightyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Takes full viewport height */
  font-size: 1.5rem;
  color: #333;
}
